.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container .boxes {
  width: 97%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 10px;
  flex-wrap: wrap;
}

.dashboard-container .boxes .box {
  width: 280px;
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 3px 3px 15px lightgray;
  cursor: pointer;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
  position: relative;
}

.dashboard-container .boxes .box .body {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 15px;
  width: 85%;
  height: 100%;
  padding-bottom: 20px;
}

.dashboard-container .boxes .box .body i {
  font-size: 32px;
  width: 70px;
  height: 70px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 15px;
  position: absolute;
  top: -40px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-container .boxes .box .body .image {
  font-size: 32px;
  width: 70px;
  height: 70px;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 15px;
  position: absolute;
  top: -40px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-container .boxes .box .body .image img {
  width: 34px;
  height: 34px;
}

.dashboard-container .boxes .box:nth-child(1) .body i {
  background-color: #da9b65;
  box-shadow: 2px 6px 10px rgba(218, 156, 101, 0.726);
}

.dashboard-container .boxes .box:nth-child(2) .body i {
  background-color: #2cce69;
  box-shadow: 2px 8px 10px rgba(44, 206, 106, 0.726);
}

.dashboard-container .boxes .box:nth-child(3) .body i {
  background-color: #dc6465;
  box-shadow: 2px 8px 10px rgba(220, 100, 100, 0.726);
}

.dashboard-container .boxes .box:nth-child(4) .body i {
  background-color: #63a9dc;
  box-shadow: 2px 8px 10px rgba(99, 170, 220, 0.726);
}

.dashboard-container .boxes .box:nth-child(5) .body i {
  background-color: #e7b200;
  box-shadow: 2px 8px 10px rgba(231, 177, 0, 0.726);
}

.dashboard-container .boxes .box:nth-child(4) .body .image {
  background-color: #e7b200;
  box-shadow: 2px 8px 10px rgba(231, 177, 0, 0.726);
}

.dashboard-container .bottom {
  height: 535px;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.dashboard-container .bottom h3 {
  margin-bottom: 15px;
}

.dashboard-container .bottom .left {
  height: 100%;
  width: 69%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-container .bottom .left .graph {
  height: 60%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 15px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.dashboard-container .bottom .left .recent {
  height: 37%;
  width: 100%;
  /* background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 15px lightgray; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-container .bottom .left .recent .ongoing {
  width: 49%;
  height: 100%;
  box-shadow: 3px 2px 9px lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  overflow: scroll;
}

.dashboard-container .bottom .left .recent .dues {
  width: 49%;
  height: 100%;
  box-shadow: 3px 2px 9px lightgray;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  overflow: scroll;
}

.dashboard-container .right {
  width: 29%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 15px lightgray;
  padding: 0.5rem 1rem;
  overflow: scroll;
}

@media (max-width: 1024px) {
}
