.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.home-container .side {
  width: 15vw;
}

.home-container .content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 50px;
  background-color: #fafafa;
}
